<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>乐易生活</title>
  <link rel="stylesheet" href="plus/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="plus/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <img src="..." alt="..." class="img-rounded">
      </div>
      <div class="col-sm-6">
        <h5>dddd</h5>
        <span>fff</span>
      </div>
    </div>
  </div>
  <script src="plus/jquery-2.1.1.js"></script>
  <script src="plus/bootstrap.min.js"></script>
  <script src="plus/Chart.min.js"></script>
  <script src="javascripts/base.js"></script>
  <script src="javascripts/index.js"></script>
</body>
</html>